.posts-container {
  display: inline-block;
  width: 80%;
}

.keywords-container {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

#title {
  @apply text-violet-700 uppercase font-mono font-bold text-2xl group-hover:text-violet-500 transition mr-2;
}

#subtitle {
  @apply text-gray-400 text-xl w-3/4 group-hover:text-gray-100 transition;
}

#info {
  @apply text-gray-300 text-sm w-3/4 group-hover:text-gray-100 transition;
}
