@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
div#root {
  height: 100%;
}

.par, .markdown-body, text {
  font-family: 'Baloo Bhai 2', cursive;
}

.markdown-body a:hover {
  text-decoration: none;
}

body {
  background-color: #0f172a;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}
