@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
div#root {
  height: 100%;
}

.par,
.markdown-body,
text {
  font-family: 'Baloo Bhai 2', cursive !important;
}

.markdown-body a:hover {
  text-decoration: none;
}

body {
  background-color: #0f172a;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

.logo {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  margin: 10px;
  background-color: transparent !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo-small {
  display: inline-block;
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
}
