/* Inspired by https://vineethtrv.github.io/css-loader/ */

.loader {
  border: 8px solid rgba(6, 56, 117, 0.43);
  background-color: rgba(16, 46, 90, 0.5);
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  border-radius: 40%;
  animation: rotation 1.25s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    width: 48px;
    height: 48px;
    top: calc(50% - 48px);
    right: calc(50% - 48px);  
  }
  50% {
    transform: rotate(180deg);
    width: 80px;
    height: 80px;
    top: calc(50% - 60px);
    right: calc(50% - 60px);  
  }
  100% {
    transform: rotate(360deg);
    width: 48px;
    height: 48px;
    top: calc(50% - 48px);
    right: calc(50% - 48px);  
  }
}
