@import 'highlight.js/styles/atom-one-dark-reasonable.css';
@import 'github-markdown-css/github-markdown.css';

footer {
  padding: initial !important;
}

.markdown-body {
  min-width: 200px;
  max-width: 100%;
  --color-accent-fg: #4cacfc;
  --color-fg-default: #ddd;
  @apply box-border m-auto p-11 bg-transparent;
}

@media (min-width: 992px) {
  .markdown-body {
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    @apply p-4;
  }
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: #2d333b !important;
}

.markdown-body table td,
.markdown-body table th {
  background-color: #2d333b;
  border: 1px solid rgba(223, 226, 229, 0.5) !important;
}

.markdown-body h1 {
  font-size: 1.75em;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: none !important;
}

.markdown-body h1:hover::before,
.markdown-body h2:hover::before,
.markdown-body h3:hover::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1' width='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512'%3e%3cg%3e%3cpath fill='white' d='m487.6,90.6l-66.2-66.2c-9.3-10.5-39.1-24.2-64.6,0l-115.1,115.2c-17.8,17.8-17.8,46.8 0,64.6l19.2,19.2-37.5,37.6-19.2-19.2c-8.6-8.6-35.7-25.1-64.6,0l-115.2,115.1c-17.8,17.8-17.8,46.8-7.10543e-15,64.6l66.2,66.2c22.7,22.7 52.4,12.1 64.6,0l115.2-115.2c17.8-17.8 17.8-46.8 0-64.6l-19.2-19.2 37.6-37.6 19.2,19.2c27.7,23.8 53.5,11 64.6,0l115.2-115.2c17.6-17.7 17.6-46.7-0.2-64.5zm-245,245c2.5,2.5 2.5,6.6 0,9.1l-115.2,115.2c-2.5,2.5-6.3,2.9-9.1,0l-66.2-66.2c-2.5-2.5-2.5-6.6 0-9.1l115.2-115.2c3.1-3.1 7.1-2 9.1,0l19.2,19.2-32.5,32.5c-7.7,7.7-7.7,20.1 0,27.7 3.8,3.8 17.3,10.4 27.7,0l32.5-32.5 19.3,19.3zm217.3-208.1l-115.2,115.1c-2.5,2.5-6.3,2.9-9.1,0l-19.2-19.2 32.5-32.5c7.7-7.7 7.7-20.1 0-27.7-7.7-7.7-20.1-7.7-27.7,0l-32.5,32.5-19.2-19.2c-2.5-2.5-2.5-6.6 0-9.1l115.1-115.2c3.1-3.1 7.1-2.1 9.1,0l66.2,66.2c2.5,2.5 2.5,6.6-5.68434e-14,9.1z'/%3e%3c/g%3e%3c/svg%3e ");
  margin-right: 10px;
  margin-left: -34px;
  position: absolute;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: table;
}

.markdown-body h1 a,
.markdown-body h2 a,
.markdown-body h3 a {
  vertical-align: top;
}

.markdown-body h1 a:hover,
.markdown-body h2 a:hover,
.markdown-body h3 a:hover,
.markdown-body h4 a:hover,
.markdown-body h5 a:hover,
.markdown-body h6 a:hover {
  text-decoration: none;
}

ul {
  list-style-type: '▪  ' !important;
}

ol {
  @apply list-decimal;
}

blockquote {
  --color-border-default: gray;
}

.hljs {
  @apply bg-transparent;
}
