@use 'mixins';

@media (min-width: 992px) {
  .markdown-body {
    max-width: 75%;
  }
}

.markdown-body {
  min-width: 200px;
  max-width: 100%;
  --color-accent-fg: #4cacfc;
  --color-fg-default: #ddd;
  color: var(--color-fg-default);
  @apply box-border m-auto md:p-11 bg-transparent;

  pre {
    background-color: #2d333b !important;
  }

  table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    background-color: #0d1117cc;
    margin-bottom: 1rem;

    th {
      font-weight: 800;
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #30363dcc;
    }

    tr {
      border-top: 1px solid #21262dcc;

      &:nth-child(2n) {
        background-color: #161b22cc;
      }
    }

    img {
      background-color: transparent;
    }
  }

  code::before {
    content: "";
  }
  
  code::after {
    content: "";
  }

  code[data-line-numbers] > span[data-line][data-highlighted-line] > span {
    color: rgb(171, 178, 191) !important;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
  }

  span[data-chars-id="abcdefghijklmnopqrstuvwxyz"] {
    display: none;

    & ~ span {
      display: none;
    }
  }
}

.blog-post-body.markdown-body {
  @apply pt-3;
}

@for $headingLevel from 1 through 6 {
  .markdown-body h#{$headingLevel} {
    a:hover {
      text-decoration: none;
    }

    @if $headingLevel <= 3 {
      @if $headingLevel == 1 or $headingLevel == 2 {
        border-bottom: none !important;
      }

      &:hover::before {
        @include mixins.linkIcon;
      }

      a {
        vertical-align: top;
      }
    }
  }
}

@media (min-width: 768px) {
  .breadcrumb {
    padding-left: 2.75rem !important;
  }
}

.breadcrumb {
  @apply sm:flex-nowrap flex-wrap;
}
