@import 'highlight.js/styles/atom-one-dark-reasonable.css';
@import 'github-markdown-css/github-markdown.css';

footer {
  padding: initial !important;
}

.markdown-body {
  min-width: 200px;
  max-width: 100%;
  --color-fg-default: inherit !important;
  --color-accent-fg: #4cacfc;
  @apply box-border m-auto p-11 bg-transparent;
}

@media (min-width: 992px) {
  .markdown-body {
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    @apply p-4;
  }
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: #2d333b !important;
}

.markdown-body table td,
.markdown-body table th {
  background-color: #2d333b;
  border: 1px solid rgba(223, 226, 229, 0.5) !important;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: none !important;
}

.markdown-body h1:hover::before,
.markdown-body h2:hover::before,
.markdown-body h3:hover::before {
  content: '🔗';
  margin-left: -40px;
  margin-right: 10px;
  @apply text-violet-400;
}

.markdown-body h1:hover {
  margin-left: -10px;
}

.markdown-body h3:hover {
  margin-left: 5px;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: table;
}

.markdown-body ul {
  @apply list-disc;
}

.markdown-body ol {
  @apply list-decimal;
}

blockquote {
  --color-border-default: gray;
}

.hljs {
  @apply bg-transparent;
}

ol {
  list-style-type: decimal !important;
}
