@import 'highlight.js/styles/atom-one-dark-reasonable.css';
@import 'github-markdown-css/github-markdown.css';

footer {
  padding: initial !important;
}

.markdown-body {
  min-width: 200px;
  max-width: 100%;
  --color-accent-fg: #4cacfc;
  @apply box-border m-auto p-11 bg-transparent;
}

@media (min-width: 992px) {
  .markdown-body {
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    @apply p-4;
  }
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: #2d333b !important;
}

.markdown-body table td,
.markdown-body table th {
  background-color: #2d333b;
  border: 1px solid rgba(223, 226, 229, 0.5) !important;
}

.markdown-body h1 {
  font-size: 1.75em;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: none !important;
}

.markdown-body h1:hover::before,
.markdown-body h2:hover::before,
.markdown-body h3:hover::before {
  content: '🔗';
  margin-right: 10px;
}

.markdown-body h1:hover::before {
  margin-left: calc(-1.5rem * 1.02083333333 - 10px);
  font-size: 1.5rem;
}

.markdown-body h2:hover::before {
  margin-left: calc(-1.25rem * 1.02083333333 - 10px);
  font-size: 1.25rem;
}

.markdown-body h3:hover::before {
  margin-left: calc(-1rem * 1.02083333333 - 10px);
  font-size: 1rem;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: table;
}

.markdown-body h1 a:hover,
.markdown-body h2 a:hover,
.markdown-body h3 a:hover,
.markdown-body h4 a:hover,
.markdown-body h5 a:hover,
.markdown-body h6 a:hover {
  text-decoration: none;
}

ul {
  list-style-type: '▪  ' !important;
}

ol {
  @apply list-decimal;
}

blockquote {
  --color-border-default: gray;
}

.hljs {
  @apply bg-transparent;
}
