@use 'mixins';

.subheading {
  @apply text-amber-200 uppercase font-mono font-bold text-2xl cursor-pointer;

  &:hover:before {
    @include mixins.linkIcon;
  }
}

.projects-container {
  @apply flex items-stretch justify-center flex-row flex-wrap gap-5 mt-5 xl:w-3/4 w-full;
}

.projects-container > * {
  min-width: 250px;
  flex-basis: calc(50% - 1.25rem);
  @apply flex-shrink flex-grow-0 sm:flex-grow;
}

[data-aos='fade-up'].aos {
  -webkit-transform: translate3d(0, 5%, 0);
  -ms-transform: translate3d(0, 5%, 0);
  transform: translate3d(0, 5%, 0);
}

.no-select {
  @include mixins.no-select;
}

.perspective-1000 {
  perspective: 1000px;
}

.needed-permissions {
  margin-left: 48pt !important;
}

.contact {
  display: inline-block;
  position: relative;
  margin-top: 1rem;
}

.contact::after {
  content: ' · ';
  display: inline-block;
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 0.5rem;
}
