html.infographic-tech-covid > body {
  background-color: rgb(209, 206, 206) !important;
}

html.infographic-tech-covid > body,
html.infographic-tech-covid,
html.infographic-tech-covid div#root {
  width: 100%;
  height: 100%;
}

svg.infographic-svg {
  margin-top: 5%;
}

svg.infographic-svg > g > [for] {
  cursor: help;
}

svg.infographic-svg g#everything > [for] {
  pointer-events: none;
}
