html.infographic-tech-covid > body {
  background-color: #37474f !important;
}

html.infographic-tech-covid > body,
html.infographic-tech-covid,
html.infographic-tech-covid div#root {
  width: 100%;
  height: 100%;
}

html.infographic-tech-covid article.markdown-body {
  color: #eee;
}

html.infographic-tech-covid .loader {
  filter: contrast(0.25) brightness(1.5);
}

html.infographic-tech-covid [fill='#29384d']:not(path#dk):not(path#dl) {
  fill: #b7d8f5;
}

svg.infographic-svg g#everything path {
  fill: #054f97;
  stroke: #606060ff;
}

svg.infographic-svg g#everything use {
  fill: #f95700ff;
}

svg.infographic-svg > g > [for] {
  cursor: help;
}

svg.infographic-svg g#everything > [for] {
  pointer-events: none;
}

svg.infographic-svg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  max-height: 95vh;
}

html.infographic-tech-covid .markdown-body {
  --color-accent-fg: #6bb9f0;
}
